.header {
  margin-bottom: 30px;
  background-color: #000000;
  border-bottom: 1px solid #fff;
  color: #fff;

  .row {
    margin: 0;
    height: 60px;
  }

  .title,
  .score {
    text-align: center;
    font-size: 1.2em;
    font-weight: 300;
  }
}


