@import '~styles/base/variables.scss';

.nav-menu {
  .dropdown-toggle {
    transition-duration: 0.5s;
    border: 1px solid #00000000;
    margin-left: 15px;
    background-color: #00000000;


    &:hover {
      border-color: $focusColor ;
      background-color: #00000000;
    }

    &:active {
      border-color: $focusColor ;
      background-color: #00000000;
    }
  }

  .dropdown-menu {
    color: #fff !important;
    text-align: left;
    background-color: $bgBlock;
    border: 1px solid #fff ;
    padding: 0;
    min-width: 13rem;
  }

  .btn.dropdown-toggle {
    color: #fff;
  }
}

