@import '~styles/base/variables.scss';

.header {
  background-color: #21242e;
  border-bottom: 1px solid #fff;
  color: #fff;

  .row {
    margin: 0;
    // height: 60px;
  }

  .score {
    text-align: center;
    font-size: 1.2em;
    font-weight: 300;
  }

  .nav-block {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.header-title {
  .title {
    text-align: center;
    font-family: "Caveat Regular", sans-serif;
    font-size: 1.4em;
  }
}
