@font-face {
  font-family: "Quicksand Bold";
  src: url("../../fonts/Quicksand-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Quicksand Regular";
  src: url("../../fonts/Quicksand-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Quicksand Light";
  src: url("../../fonts/Quicksand-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Caveat Regular";
  src: url("../../fonts/Caveat-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
